.companies-list-container {
  margin-top: 20px;
  max-width: 90%;
}

.companies-list {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.company-item {
  padding: 10px;
  border-bottom: 1px solid #015893;
}

.company-item:last-child {
  border-bottom: none;
}
