.error-container {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.error-title {
  color: #be1d1d;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.error-message {
  color: #be1d1d;
}
